<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Hola Mundo!</h1>
    <p th:text="saludos"></p>
    
    <table>
    	<tr>
	    	<th>Nombre</th>
	    	<th>Apellido</th>
	    	<th>Email</th>
	    	<th>Numero</th>
	    </tr>
	    <tr th:each="persona : ${personas}">
	   		<td><p th:text="${persona}"></p></td>
	   		<td><p th:text="${persona.apellido}"></p></td>
	   		<td><p th:text="${persona.email}"></p></td>
	   		<td><p th:text="${persona.numero}"></p></td>
	    </tr>
    </table>
</body>
</html>